/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}

/* =============================================================================
   Base
   ========================================================================== */

html {
    font-size: 125%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/*
body {
	background: #f5f5f5 url(//assets.jonmack.co.uk/jxm/images/bg.png);
    margin: 0;
	color: #444;
	font: 50%/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
*/
body {
	background: #222 url(//assets.jonmack.co.uk/jxm/images/bg-alt.png) top left fixed;
    margin: 0;
	color: #666;
	font: 50%/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}
::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */

/*
a {
    color: #4180AB;
	text-decoration: none;

	-webkit-transition: color 0.5s ease;
	   -moz-transition: color 0.5s ease;
	     -o-transition: color 0.5s ease;
	        transition: color 0.5s ease;
}
*/

a {
    color: #F8CA00;
	text-decoration: none;

	-webkit-transition: color 0.5s ease;
	   -moz-transition: color 0.5s ease;
	     -o-transition: color 0.5s ease;
	        transition: color 0.5s ease;
}

a:focus {
    outline: thin dotted;
}

/*
a:hover, 
a:active {
    color: #8C162A;
}
*/

a:hover, 
a:active {
    color: #E97F02;
}

a:hover, a:active {
    outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}

blockquote {
}

dfn {
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h1 {
	font-size: 5em;
	margin: 0 0 15px;
}

h2 {
	font-size: 4.5em;
	margin: 0 0 15px;
}

h3 {
	font-size: 4em;
	margin: 0 0 15px;
}

h4 {
	font-size: 1.8em;
	margin: 0 0 15px;
}

h5 {
	font-size: 1.6em;
	margin: 0 0 15px;
}

h6 {
	font-size: 1.4em;
	margin: 0 0 15px;
}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
	margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
	margin: 0 0 15px;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: "";
    content: none;
}
small {
    font-size: 85%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol {
    padding: 0 0 0 40px;
	font-size: 1.3em;
	line-height: 1.4em;
	margin: 0 0 15px;
}

dd {
    margin: 0 0 0 40px;
}

li ul, li ol {
	padding: 0;
	font-size: 1em;
	line-height: 1;
}
li p {
	font-size: 1em;
}
nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
label {
    cursor: pointer;
}
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input:valid, textarea:valid {

}
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}

/* ==|== primary styles =====================================================
   
   ========================================================================== */

/* ===== Wrapper ===== */

#wrapper {
	padding: 0 25px;
}

/* ===== Header ===== */

header {
	margin: 0 0 25px;
}

header.pinned  {
	position: fixed;
	bottom: -111px;
	width: 95.7%;
	height: 109px;
	background: #222 url(//assets.jonmack.co.uk/jxm/images/bg-alt.png) top left fixed;
	z-index: 1000;
	margin: 0;
	border-top: 1px solid #333;
	box-shadow: 0 -1px 0 #111;
}

#logo {
	width: 100%;
	line-height: 1;
}

.pinned #logo {
	width: 29%;
	float: left;
}

.pinned .description {
	display: none;
}

/* ===== Nav ===== */

.pinned nav {
	width: 69%;
	float: right;
	margin: 16px 0 0;
}

header nav ul {
	clear: both;
	overflow:hidden;
	padding: 0;
	list-style: none;
	margin: 0 0 0 -0.5%;
}

header nav li {
	float: left;
	margin: 0 0.5% 0 0.5%;
}

header nav a {
	display: block;
	padding: 22px 4px 2px;
	text-decoration: none;
/* 	border-top: 4px solid rgba(  65, 128, 171, 0.5); */
	border-top: 4px solid rgba( 248, 202,   0, 0.5);

	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

header nav a:hover,
header nav a.active {
/* 	border-top: 4px solid rgba( 140,  22,  42, 0.5); */
	border-top: 4px solid rgba( 233, 127,   2, 0.5);
}

.pinned nav li a {
	display: block;
	position: relative;
	text-indent: -9999px;
	border: 0;
	padding: 22px 4px 23px;
}

.pinned nav li a:hover,
.pinned nav li a:active {
	border: 0;
}

.pinned nav li a:before {
    font-family: 'Pictos';
    font-size: 63px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 50%;
	text-indent: 0;
    margin: 0 0 0 -28px;
	
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255,   1)), color-stop(100%, rgba( 255, 255, 255, 0.4)), to(rgba( 255, 255, 255,   1)));
	text-shadow: rgba(   0,   0,   0, 0.5) -1px 0, rgba(   0,   0,   0, 0.3) 0 -1px, rgba( 255, 255, 255, 0.5) 0 1px, rgba(   0,   0,   0, 0.3) -1px -2px;

	-webkit-transition: color 0.5s ease;
	   -moz-transition: color 0.5s ease;
	     -o-transition: color 0.5s ease;
	        transition: color 0.5s ease;
}

.pinned nav li:nth-child(1) a:before {
    content: "w";
    top: -3px;
}

.pinned nav li:nth-child(2) a:before {
    content: "\\";
    top: -5px;
}

.pinned nav li:nth-child(3) a:before {
    content: "U";
    top: -1px;
}

.pinned nav li:nth-child(4) a:before {
    content: "m";
    top: -5px;
}

.pinned nav li:nth-child(5) a:before {
    content: "v";
    top: -1px;
}

.pinned nav li:nth-child(6) a:before {
    content: "*";
    top: -3px;
}

.pinned nav li:nth-child(7) a:before {
    content: "0";
    top: -3px;
}



/* ===== Content ===== */

#content {}


/* ===== Footer ===== */

footer {
	padding: 25px 0 134px;
}

.pagination {
	display: inline;
	font-size: 1.4em;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.pagination li {
	float: left;
	margin: 0 2px;
}

.pagination li.sep {
	border-bottom: 1px solid #CED1C0;
	width: 20px;
	margin: -10px 5px 0;
	
}

/* ===== Classes ===== */

/*
.post {
	border-bottom: 1px solid #CED1C0;
	box-shadow: 0 1px 0 #fff;
	margin: 0 0 25px;
	padding: 0 0 25px;
	text-shadow: #ddd 0 1px 1px;
}
*/

.post {
	border-bottom: 1px solid #111;
	box-shadow: 0 1px 0 #333;
	padding: 25px 0 25px;
	text-shadow: #111 0 1px 1px;
}

.post iframe {
	width: 500px;
	margin: 0 0 15px;
}

.post .content {
	width: 69%;
	float: left;
	margin: 0 2% 0 0;
}

.post blockquote {
/* 	background: rgba(   0,   0,   0, 0.1); */
	background: rgba( 255, 255, 255, 0.1);
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 12px;
	margin: 0 0 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	border: none;
}

.post.reblog blockquote {
	font-size: 1em;
	background: none;
/* 	border-left: 4px solid rgba(   0,   0,   0, 0.1); */
	border-left: 4px solid rgba( 255, 255, 255, 0.1);
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	margin: 0 0 15px 15px;
}

.post.reblog blockquote *:last-of-type {
	margin: 0;
}

.post a:hover {
	position: relative;
	top: 1px;
}

/* text */

.post .text {}


/* photo */

.post .photo {}

.post .photo img {
	width: 100%;
	margin: 0 0 15px;
}

.post .photo .exif {
	list-style: none;
	padding: 0;
	margin: 0 0 15px;
}

.post .photo .exif li {
	float: left;
	margin: 0 4px 0 0;
}


/* quote */

.post .quote {}


/* link */

.post .link {}

/* chat */

.post .chat {}

.post .chat .conversation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post .chat .conversation li {
	padding: 2px 4px;
}

.post .chat .conversation .person {
	font-weight: 700;
}

.post .chat .conversation .odd {
/* 	background: rgba(   0,   0,   0, 0.1); */
	background: rgba( 255, 255, 255, 0.1);
	color: #777;
}


/* audio */

.post .audio {}

.post .audio .audio_player {
	margin: 0 0 15px;
}

.post .audio .artwork {
	width: 125px;
	float: left;
	margin: 0 25px 15px 0;
}

.post .audio .id3 {
	float: left;
	padding: 0;
	list-style: none;
}

.post .audio .caption {
	clear: both;
}



/* video */

.post .video {}


/* answer */

.post .answer ul.asker {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 15px;
}

.post .answer .asker img {
	margin: -4px 0 0
}

.photo .id3,
.video .id3 {
	display: none;
}


/* meta */

.post .meta {
	float: left;
	width: 29%;
}

.post .meta a {
	font-style: oblique;
}

.meta .date,
.meta .permalink,
.meta .permalink-reblog,
.meta .reblogged,
.meta .notes-container p,
.meta .tags,
.meta .source {
	position: relative;
	padding: 0 0 0 24px;
}

.meta .date:before,
.meta .permalink:before,
.meta .permalink-reblog:before,
.meta .reblogged:before,
.meta .notes-container p:before,
.meta .tags:before,
.meta .source:before {
	display: block;
    font-family: 'Pictos';
    font-size: 22px;
    width: 24px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 0;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255,   1)), color-stop(100%, rgba( 255, 255, 255, 0.4)), to(rgba( 255, 255, 255,   1)));
	text-shadow: rgba(   0,   0,   0, 0.5) -1px 0, rgba(   0,   0,   0, 0.3) 0 -1px, rgba( 255, 255, 255, 0.5) 0 1px, rgba(   0,   0,   0, 0.3) -1px -2px;
	-webkit-transition: color 0.5s ease;
	   -moz-transition: color 0.5s ease;
	     -o-transition: color 0.5s ease;
	        transition: color 0.5s ease;
}

.meta .permalink:before,
.meta .permalink-reblog:before {
	font-style: normal;
	color: #666;
}

.meta .date {
	list-style: none;
}

.meta .date:before {
    content: "\\";
    top: -12px;
}

.meta .date:hover:before {
	color: #CC0909;
}

.meta .date li {
	float: left;
}

.meta .permalink {
	display: block;
	float: left;
}

.meta .permalink:before {
    content: "j";
}

.meta .permalink:hover:before {
	color: #C9D1D3;
}

.meta .permalink-reblog {
	display: block;
	float: left;
}

.meta .permalink-reblog:before {
    content: "r";
}

.meta .permalink-reblog:hover:before {
	color: #8A9B0F;
}

.meta .reblogged {
	list-style: none;
}

.meta .reblogged:before {
    content: "1";
}

.meta .reblogged:hover:before {
	color: #E97F02;
}

.meta .reblogged li {
	float: left;
	margin: 0 4px 0 0;
}

.meta .reblogged li img {
	margin: -2px 0 0;
}

.meta .reblogged .cf {
	float: none;
}

.meta .notes-container {}

.meta .notes-container p {
}

.meta .notes-container p:before {
    content: "k";
}

.meta .notes-container p:hover:before {
	color: #BD1550;
}

.meta .tags {
	list-style: none;
}

.meta .tags:before {
    content: "z";
}

.meta .tags:hover:before {
	color: #774F38;
}

.meta .tags li {
	float: left;
	margin: 0 4px 0 0;
}

.meta .source {
	list-style: none;
}

.meta .source:before {
    content: "\"";
}

.meta .source:hover:before {
	color: #09B2CF;
}

.meta .source li {
	float: left;
	margin: 0 4px 0 0;
}





/* ==|== media queries ======================================================

   ========================================================================== */

/*	Tablet Layout: 768px.
================================================================	*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}


/*	Mobile Layout: 320px.
================================================================	*/

@media only screen and (max-width: 767px) {
	
	header {
		margin: 25px 0;
	}
	
	header.pinned  {
		display: none;
	}

	nav li a {
		display: block;
		position: relative;
		text-indent: -9999px;
		border: 0;
		height: 35px;
	}
	
	nav li a:hover,
	nav li a:active {
		border: 0;
	}
	
	nav li a:before {
	    font-family: 'Pictos';
	    font-size: 25px;
	    height: 35px;
	    position: absolute;
	    top: -9px;
	    left: 50%;
		text-indent: 0;
	    margin: 0 0 0 -10px;
		
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255,   1)), color-stop(100%, rgba( 255, 255, 255, 0.4)), to(rgba( 255, 255, 255,   1)));
		text-shadow: rgba(   0,   0,   0, 0.5) -1px 0, rgba(   0,   0,   0, 0.3) 0 -1px, rgba( 255, 255, 255, 0.5) 0 1px, rgba(   0,   0,   0, 0.3) -1px -2px;
	
		-webkit-transition: color 0.5s ease;
		   -moz-transition: color 0.5s ease;
		     -o-transition: color 0.5s ease;
		        transition: color 0.5s ease;
	}
	
	nav li:nth-child(1) a:before {
	    content: "w";
	}
	
	nav li:nth-child(2) a:before {
	    content: "\\";
	}
	
	nav li:nth-child(3) a:before {
	    content: "U";
	}
	
	nav li:nth-child(4) a:before {
	    content: "m";
	}
	
	nav li:nth-child(5) a:before {
	    content: "v";
	}
	
	nav li:nth-child(6) a:before {
	    content: "*";
	}
	
	nav li:nth-child(7) a:before {
	    content: "0";
	}
	
	.post {
		padding: 25px 0 0;
	}
	
	.post .content,
	.post .meta {
		width: 100%;
	}

	.post iframe {
		width: 270px;
	}

	.post .meta {
		margin: 15px 0 0;
		padding: 15px 0 0;
		box-shadow: 0 -1px 0 #111;
	}

}


/*	Wide Mobile Layout: 480px. 
================================================================	*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.post iframe {
		width: 430px;
	}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
================================================================	*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

.clear { display: block; height: 0; line-height: 0; font-size: 0; clear: both; overflow:hidden; }
/* image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
}
.ir br {
    display: none;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
/* clearfix */
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* ==|== print styles =======================================================

   ========================================================================== */

@media print { 
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
}